{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Add Your Task!</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/createtask.css' %}"/>
{% endblock meta %}

{% block content %}  
<style>
    body {
        background-color: #FBDA61;
        background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
        font-family: 'Poppins',sans-serif;
        text-align: center;
    }
</style>
<div class = "login">
    <form method="POST" >  
        {% csrf_token %}
                <h1>Create Your Productivity!</h1>  
        
                <h3>To Do</h3>
                <input type="text" id="title" name="title">
                <p></p>

                <h3>Description</h3>
                <input type="text" id="description" name="description">
                <p></p>

            
            <button type="submit" class="button">Add Task!</button>
            <button type="submit" class="button"><a href="{% url 'todolist:show_todolist' %}">Back</a></button>
        </form>
</div>  

{% endblock content %}