{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Login</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>

{% endblock meta %}

{% block content %}

<style>
    form{
    height: 520px;
    width: 350px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

</style>

<div class = "login">
    <form method="POST" action="">
        {% csrf_token %}
        <h3>Login Here!</h3>

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" >

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control">

        <button type="submit" value="Login">Log In</button>
        <p>Don't have an account? <a href="{% url 'todolist:register' %}"> Sign Up</a></p>

        {% if messages %}
            
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            
        {% endif %}     
    </form>

        

</div>

{% endblock content %}