{% extends 'base.html' %} {% block content %}


<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<style>
  body{
    background: rgb(104,221,164);
    background: linear-gradient(90deg, rgba(104,221,164,1) 0%, rgba(145,145,205,1) 34%, rgba(107,111,223,1) 75%, rgba(65,164,184,1) 100%);
    
    font-family: 'Poppins',sans-serif;
  }

  h1{
    font-family: 'Poppins',sans-serif;
    /* text-align: center; */
    font-weight: 600;
    color: #ffffff;
  }


  button{
    font-family: 'Poppins',sans-serif;
    margin: auto; 
    background-color: #ffffff;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
  }

  table{
    /* table-layout: auto; */
    width: 100%;
    /* margin-top: 40px; */
    
  }

  table, th, td {
    /* border: 1px solid black; */
    border-collapse: separate; 
    margin: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100px; 
  }

  th, td {
    padding: 10px;  
  }
    
  th{
    background-color: #f4f1ea;
  }



</style>
<h1>Hello {{userName}}, <br>Your To Do List!</h1>

<table>
  <tr>
    <th>Tanggal</th>
    <th>Judul</th>
    <th>Deskripsi</th>
  </tr>
  {% comment %} Tambahkan data di bawah baris ini {% endcomment %} 
  {% for todo in todolist_data %}
    <tr>
      <!-- <th>{{todo.user}}</th> -->
      <th style="font-weight: normal">{{todo.date}}</th>
      <th style="font-weight: normal">{{todo.title}}</th>
      <th style="font-weight: normal">{{todo.description}}</th>
    </tr>
  {% endfor %}
</table>
<!-- <h5>Sesi terakhir login: {{ last_login }}</h5> -->
<button ><a href="{% url 'todolist:create_task' %}">Create Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}